:root{
    --main-color-: white;
    --main-color-Brown-: #757575 ;
    --main-color-blue-: #2196F3;
    --main-color-black: #212121;

}

body{
    font-family: 'Roboto', sans-serif;
    color: #757575 ;
    margin: 0;
    
}

ul{
     list-style: none;
     margin: 0;
     padding: 0;
}

a{
    text-decoration: none;
    color: unset;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button{
    cursor: pointer;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/* img {
    display: block;
} */

.header {
    background: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--main-color-)
}

.color-logo{
color: black;
}

.header-nav {
}
.logo {
    font-family: Raleway;
    display: flexbox;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    color: var(--main-color-blue-);
    margin-bottom: 25px;
}

.header-list{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color-black)

}
.header-item:hover {
    color:var(--main-color-blue-);
}

.header-list-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-list-link:hover {
    color: #2196F3;
}

.header-item-link:hover{
    color: var(--main-color-);
}
.section-hero {
    background: #2F303A;
    height: 600px;
    width: 1600px;
}
.hero-title {
font-weight: 900;
display: grid;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-color-);
margin-bottom: 30px;
padding-top: 200px;
}
.button-hero {
    font-family: inherit;
    font-weight: 700;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--main-color-);
    background: var(--main-color-blue-);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.section-description {
}
.description-list {
    margin-top: 94px;
    
}

.description-item{

}

.description-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.description-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 94px;
}
.aside-section {
}
.aside-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.aside-list {
}
.aside-item {
}
.section-team {
}
.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 0.85px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 188px;
    padding-top: 94px;
    margin-bottom: 50px;
}
.team-list {
    padding-bottom: 94px;
}

.team-img{
margin-bottom: 30px;
}
.team-item {
    background: var(--main-color-);
margin-top: 50px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
margin-bottom: 30px;

}
.team-member-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 0.8;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
}
.team-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
}
.footer {
background: #2F303A;
}

.section-option {
}
.option-list {

}
.option-item {
    background: var(--main-color-);
    border-radius: 4px;
}
.button-option:hover,
.button-option:focus{
    background: var(--main-color-blue-);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--main-color-);
    cursor: pointer;
}




.button-option{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor:pointer
}

.section-gallary {
}
.pre-title-gallary {
}
.gallary-list {
}
.gallary-item {
    background: var(--main-color-);
    border: 1px solid (var(--main-color-));
    box-sizing: border-box; 
}
.title-gallary {


font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.gallary-text {


font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}

.address{
    font-style: normal;
    
}

.address-link{
    color: var(--main-color-);
}

.footer-logo{
margin: 60px;

}